@charset "UTF-8";
/**
|------------------------------------------|
|      component : variabl.scss
|------------------------------------------|
*/
/*
|----------------------------------|
 v.0.1 최초 공통화 작업
 v.0.2 모바일 버튼 믹싱사이즈 변경
 v.0.3 util - no-data - 모바일버전 생성
 v.0.4 util - no-data  공통화작업 - 박선미
 v.0.5 util - .search-keyword 오타 수정및 css추가 - 박선미
|----------------------------------|
*/
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt45 {
  padding-top: 45px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt55 {
  padding-top: 55px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt65 {
  padding-top: 65px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt75 {
  padding-top: 75px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt85 {
  padding-top: 85px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt95 {
  padding-top: 95px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb75 {
  padding-bottom: 75px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb85 {
  padding-bottom: 85px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb95 {
  padding-bottom: 95px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl0 {
  padding-left: 0px !important; }

.pl5 {
  padding-left: 5px !important; }

.pl10 {
  padding-left: 10px !important; }

.pl15 {
  padding-left: 15px !important; }

.pl20 {
  padding-left: 20px !important; }

.pl25 {
  padding-left: 25px !important; }

.pl30 {
  padding-left: 30px !important; }

.pl35 {
  padding-left: 35px !important; }

.pl40 {
  padding-left: 40px !important; }

.pl45 {
  padding-left: 45px !important; }

.pl50 {
  padding-left: 50px !important; }

.pl55 {
  padding-left: 55px !important; }

.pl60 {
  padding-left: 60px !important; }

.pl65 {
  padding-left: 65px !important; }

.pl70 {
  padding-left: 70px !important; }

.pl75 {
  padding-left: 75px !important; }

.pl80 {
  padding-left: 80px !important; }

.pl85 {
  padding-left: 85px !important; }

.pl90 {
  padding-left: 90px !important; }

.pl95 {
  padding-left: 95px !important; }

.pl100 {
  padding-left: 100px !important; }

.pr0 {
  padding-right: 0px !important; }

.pr5 {
  padding-right: 5px !important; }

.pr10 {
  padding-right: 10px !important; }

.pr15 {
  padding-right: 15px !important; }

.pr20 {
  padding-right: 20px !important; }

.pr25 {
  padding-right: 25px !important; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px !important; }

.pr40 {
  padding-right: 40px !important; }

.pr45 {
  padding-right: 45px !important; }

.pr50 {
  padding-right: 50px !important; }

.pr55 {
  padding-right: 55px !important; }

.pr60 {
  padding-right: 60px !important; }

.pr65 {
  padding-right: 65px !important; }

.pr70 {
  padding-right: 70px !important; }

.pr75 {
  padding-right: 75px !important; }

.pr80 {
  padding-right: 80px !important; }

.pr85 {
  padding-right: 85px !important; }

.pr90 {
  padding-right: 90px !important; }

.pr95 {
  padding-right: 95px !important; }

.pr100 {
  padding-right: 100px !important; }

.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt65 {
  margin-top: 65px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt75 {
  margin-top: 75px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt85 {
  margin-top: 85px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt95 {
  margin-top: 95px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml45 {
  margin-left: 45px !important; }

.ml50 {
  margin-left: 50px !important; }

.ml55 {
  margin-left: 55px !important; }

.ml60 {
  margin-left: 60px !important; }

.ml65 {
  margin-left: 65px !important; }

.ml70 {
  margin-left: 70px !important; }

.ml75 {
  margin-left: 75px !important; }

.ml80 {
  margin-left: 80px !important; }

.ml85 {
  margin-left: 85px !important; }

.ml90 {
  margin-left: 90px !important; }

.ml95 {
  margin-left: 95px !important; }

.ml100 {
  margin-left: 100px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr45 {
  margin-right: 45px !important; }

.mr50 {
  margin-right: 50px !important; }

.mr55 {
  margin-right: 55px !important; }

.mr60 {
  margin-right: 60px !important; }

.mr65 {
  margin-right: 65px !important; }

.mr70 {
  margin-right: 70px !important; }

.mr75 {
  margin-right: 75px !important; }

.mr80 {
  margin-right: 80px !important; }

.mr85 {
  margin-right: 85px !important; }

.mr90 {
  margin-right: 90px !important; }

.mr95 {
  margin-right: 95px !important; }

.mr100 {
  margin-right: 100px !important; }

/* 버튼에 들어가는 icon 좌우여백 클래스 (PC) */
.ico-mr {
  margin-right: 3px;
  margin-bottom: 3px; }

.ico-ml {
  margin-left: 3px; }

.ico-mg {
  margin-right: 3px;
  margin-left: 3px; }

.not_scroll {
  position: fixed !important;
  width: 100%;
  height: 100%; }

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px; }

em {
  font-style: normal; }

label {
  margin: 0; }

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.border-bottom-none {
  border-bottom: none !important; }

.border-top-none {
  border-top: none !important; }

.hr {
  width: 100%;
  content: "";
  height: 1px;
  background: #e0e0e0; }
  .hr_bold {
    height: 2px;
    background: #418ac9; }

.hover-decoration:hover {
  text-decoration: underline;
  cursor: pointer; }

/*.btn.disabled, .btn:disabled {opacity:1;}
.btn.disabled i {opacity:.25;}
.btn:disabled i {opacity:.25;}
.btn.disabled .name {opacity:.25;}
.btn:disabled .name {opacity:.25;}*/
.cursor_default {
  cursor: default !important; }

/* 원형 */
.bullet-circle {
  position: relative;
  padding-left: 13px; }
  .bullet-circle:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
    margin-right: 9px; }

.bullet-circle_red {
  position: relative;
  padding-left: 13px; }
  .bullet-circle_red:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background: #ff0000;
    border-radius: 100%;
    margin-right: 9px; }

.bullet-circle-lines {
  position: relative;
  padding-left: 13px; }
  .bullet-circle-lines:before {
    position: static;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin-right: 9px;
    background-color: #666; }

/*검색결과배경*/
.search-keyword {
  background: #418ac9;
  color: white !important;
  opacity: 0.8;
  display: inline-block;
  line-height: 120%;
  padding: 0 2px; }

/*데이터 없을경우*/
.no-data {
  padding: 80px 40px;
  text-align: center; }
  .no-data .text {
    font-size: 15px;
    font-weight: 350;
    padding-top: 50px;
    background: url(../../img/common/ico_warring.png) no-repeat center top;
    margin-bottom: 0; }
  .no-data .btn {
    margin-top: 16px; }

/* util - no-data - 모바일버전 생성 - 한성수 - 21.04.21 */
.mobile .no-data .text {
  /* no-data - 모바일버전  가이드 제작 - 게시글없음 , 결과없음 페이지 - 21.06.17 */
  font-size: 14px;
  padding-top: 68px;
  background: url(../../img/m-common/ico-exclamation-gray-big.png) no-repeat center top/52px 52px;
  color: #666666; }

.mobile .no-data .btn {
  border-radius: 18px; }

/* util 컴포넌트 수정 - 한성수 - 21.04.21 끝 */
.show-mobile {
  display: none !important; }

.show-mobile-flex {
  display: none !important; }

.mobile .show-mobile {
  display: block !important; }

.mobile .show-mobile-flex {
  display: flex !important; }

.show-pc {
  display: block !important; }

.mobile .show-pc {
  display: none !important; }

.mobile {
  position: relative;
  background: white;
  height: 100%; }
  .mobile body {
    height: auto; }
  .mobile .wrap {
    width: 100%;
    min-width: 100%; }
  .mobile .sub_body {
    width: 100%;
    display: block; }
    .mobile .sub_body .sub_body_lnb {
      display: none; }
    .mobile .sub_body .sub_body_contents .contents {
      width: 100% !important;
      height: 100%; }
  .mobile .wrap #container {
    width: 100% !important;
    display: block; }
    .mobile .wrap #container .contents {
      width: 100%;
      padding-bottom: 0px; }
  .mobile .wrap .contents {
    height: 100%; }
    .mobile .wrap .contents .section-management {
      padding: 20px; }
  .mobile .contents {
    min-height: 200px; }
    .mobile .contents .section-test {
      padding: 28px 20px; }
  .mobile .m-wrap .m-head {
    /*half-box (교과학습 1학기 / 2학기 버튼)*/
    /*1:1 문의및 제안*/ }
    .mobile .m-wrap .m-head .logo_area {
      padding: 13.5px 20px;
      display: flex;
      justify-content: space-between;
      background: white; }
      .mobile .m-wrap .m-head .logo_area .logo_title {
        width: 50%; }
        .mobile .m-wrap .m-head .logo_area .logo_title img {
          max-width: 100px;
          min-width: 100px;
          transform: translate3d(0, 0, 0); }
      .mobile .m-wrap .m-head .logo_area .search_and_menu {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .mobile .m-wrap .m-head .logo_area .search_and_menu .search {
          margin-right: 20px;
          width: 20px;
          height: 20px; }
          .mobile .m-wrap .m-head .logo_area .search_and_menu .search img {
            width: 20px;
            max-width: 20px;
            height: 20px;
            vertical-align: baseline; }
        .mobile .m-wrap .m-head .logo_area .search_and_menu .mobile_menu {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column; }
          .mobile .m-wrap .m-head .logo_area .search_and_menu .mobile_menu:before {
            width: 20px;
            height: 2px;
            background: black;
            content: "";
            display: block; }
          .mobile .m-wrap .m-head .logo_area .search_and_menu .mobile_menu .line {
            width: 20px;
            height: 2px;
            background: black;
            content: "";
            display: block;
            margin-top: 5px; }
          .mobile .m-wrap .m-head .logo_area .search_and_menu .mobile_menu:after {
            width: 20px;
            height: 2px;
            background: black;
            content: "";
            display: block;
            margin-top: 5px; }
    .mobile .m-wrap .m-head .left_gnb {
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 20000;
      height: 100%;
      transition: all 0.4s;
      transform: translateX(100%);
      background: url("../../img/m-common/bg-left_gnb.jpg") repeat-y left top; }
      .mobile .m-wrap .m-head .left_gnb .gnb_head {
        padding: 13.5px 20px 25px;
        background-image: linear-gradient(to top, #3d77dc, #4375ea, #3d8eeb); }
        .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area {
          display: flex;
          align-items: center; }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_left {
            width: 50%;
            position: relative; }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_left img {
              max-width: 100px;
              min-width: 100px;
              transform: translate3d(0, 0, 0); }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_left .logo_select {
              position: absolute;
              top: 0;
              left: 0px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_left .logo_select select {
                background: url("../../img/m-common/left_gnb_logo_select.png") no-repeat right center;
                width: 112px;
                height: 32.6px;
                padding: 0px;
                background-size: 10px 5.5px;
                text-indent: -99999px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_left .logo_select img {
                width: 10px;
                min-width: 10px;
                height: auto; }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end; }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .right_button_group {
              display: inline-block;
              margin-right: 19px;
              padding-bottom: 5px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .right_button_group .link_default {
                color: white;
                font-size: 13px;
                font-weight: 350;
                letter-spacing: -0.24px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .right_button_group .bar {
                display: inline-block;
                vertical-align: middle;
                margin: 0px 7.5px;
                width: 1px;
                height: 11.5px;
                background: rgba(245, 245, 245, 0.3); }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .mgnb_close {
              display: inline-block;
              width: 20px;
              height: 20px;
              position: relative; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .mgnb_close:before {
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 25px;
                height: 2px;
                background: white;
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%; }
              .mobile .m-wrap .m-head .left_gnb .gnb_head .top_area .top_right .mgnb_close:after {
                transform: translate(-50%, -50%) rotate(45deg);
                width: 25px;
                height: 2px;
                background: white;
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%; }
        .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area {
          padding: 18px 0px 0px;
          display: flex;
          align-items: center; }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_left {
            flex-grow: 1;
            width: calc(100% - 68px); }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_left .ment_sub {
              margin-bottom: 5px;
              font-size: 13px;
              font-weight: 350;
              color: rgba(255, 255, 255, 0.8);
              letter-spacing: -0.65px; }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_left .ment_main {
              font-size: 20px;
              font-weight: 450;
              letter-spacing: -1px;
              color: #fff; }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_right {
            width: calc(136px / 2);
            height: calc(136px / 2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.1); }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_right img {
              width: 20px;
              height: 20px; }
            .mobile .m-wrap .m-head .left_gnb .gnb_head .hello_area .hello_right .heelo_text {
              margin-top: 5px;
              font-size: 10px;
              color: white;
              font-weight: 350; }
        .mobile .m-wrap .m-head .left_gnb .gnb_head .button_area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 22px; }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .button_area .button-default {
            padding: 8px;
            border-radius: 40px;
            font-size: 13px;
            width: 49%;
            text-align: center;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.6); }
          .mobile .m-wrap .m-head .left_gnb .gnb_head .button_area .button-auth {
            padding: 8px;
            border-radius: 40px;
            font-size: 13px;
            width: 49%;
            text-align: center;
            border: 1px solid #ff6652;
            background: #ff6652;
            color: white; }
      .mobile .m-wrap .m-head .left_gnb .gnb_menu {
        display: flex;
        height: 100%;
        overflow-y: auto; }
        .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth1_area {
          position: relative;
          width: 140px;
          padding: 20px 0px 10px;
          background: #f7f7f7; }
          .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth1_area .menu_depth1 {
            margin-bottom: 30px; }
            .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth1_area .menu_depth1 li a {
              display: block;
              font-size: 14px;
              word-break: keep-all;
              font-weight: 450;
              padding: 7.5px 20px;
              margin-bottom: 5px; }
          .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth1_area .hover_label {
            left: 10px;
            transition: top 0.1s ease-out;
            font-size: 14px;
            position: absolute;
            color: white;
            display: block;
            border-radius: 5px;
            box-shadow: 0px 7px 10.5px 0 rgba(0, 0, 0, 0.18);
            background-color: #418ac9;
            top: 20px;
            padding: 7.5px 15px;
            width: 100%; }
          .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth1_area .menu_side li a {
            display: block;
            padding: 7px 20px;
            word-break: keep-all;
            font-weight: 350;
            color: #999;
            font-size: 13px; }
        .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area {
          width: calc(100% - 140px);
          background: white;
          padding-top: 15px; }
          .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 {
            display: none;
            background: white; }
            .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2.show {
              display: block; }
            .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link {
              display: flex;
              align-items: center;
              height: 41px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link a {
                font-size: 14px;
                flex-grow: 1;
                font-weight: 350;
                padding: 10.5px 0px 10.5px 35px;
                word-break: keep-all; }
              .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow_btn {
                padding: 18.7px 20px; }
              .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow {
                width: 9px;
                height: 4.5px;
                display: block;
                content: "";
                cursor: pointer;
                position: relative; }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow:after {
                  width: 9px;
                  height: 2px;
                  background: black;
                  position: absolute;
                  content: "";
                  display: block; }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow:before {
                  width: 9px;
                  height: 2px;
                  background: black;
                  position: absolute;
                  content: "";
                  display: block; }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.down:after {
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-45deg); }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.down:before {
                  top: 50%;
                  left: 90%;
                  transform: translate(-140%, -50%) rotate(45deg); }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.up:after {
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(45deg); }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.up:before {
                  top: 50%;
                  left: 90%;
                  transform: translate(-140%, -50%) rotate(-45deg); }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.right:after {
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(45deg); }
                .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth2 li .depth2_link .arrow.right:before {
                  top: 165%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-45deg); }
          .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth3 {
            /*margin-top:-10px;*/ }
            .mobile .m-wrap .m-head .left_gnb .gnb_menu .depth2_area .menu_depth3 li a {
              display: block;
              font-weight: 350;
              color: #666;
              padding: 7px 35px;
              font-size: 13px; }
    .mobile .m-wrap .m-head .half-box {
      padding: 0 20px;
      margin-top: 23px; }
      .mobile .m-wrap .m-head .half-box .btn-default .name {
        color: #999999; }
      .mobile .m-wrap .m-head .half-box .btn-default.active {
        border: 1px solid #5670dc; }
        .mobile .m-wrap .m-head .half-box .btn-default.active .name {
          color: #5670dc; }
    .mobile .m-wrap .m-head .depth1_title {
      font-size: 18px;
      font-weight: 450;
      color: #000;
      letter-spacing: -0.9px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6px;
      background: white; }
      .mobile .m-wrap .m-head .depth1_title .info_title {
        font-size: 13px;
        color: #666666;
        margin-top: 2px;
        font-weight: 350; }
    .mobile .m-wrap .m-head .depth2_menu_wrap {
      height: 50px;
      overflow: hidden;
      border-bottom: 1px solid #e0e0e0; }
      .mobile .m-wrap .m-head .depth2_menu_wrap.fixed {
        position: fixed;
        width: 100%;
        z-index: 100;
        background: white;
        top: 0; }
    .mobile .m-wrap .m-head .depth2_menu {
      overflow: auto;
      white-space: nowrap;
      height: 70px;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px; }
      .mobile .m-wrap .m-head .depth2_menu li {
        display: inline-block; }
        .mobile .m-wrap .m-head .depth2_menu li a {
          display: inline-block;
          padding: 13px 11px;
          background: white;
          margin-right: -3px; }
          .mobile .m-wrap .m-head .depth2_menu li a span {
            display: inline-block;
            position: relative;
            font-size: 14px;
            font-weight: 350;
            letter-spacing: -0.7px;
            color: #000; }
        .mobile .m-wrap .m-head .depth2_menu li.active span {
          color: #5670dc;
          font-weight: 550; }
        .mobile .m-wrap .m-head .depth2_menu li.active span:after {
          position: absolute;
          left: 50%;
          bottom: -13px;
          transform: translateX(-50%);
          width: 100%;
          height: 2px;
          content: "";
          display: block;
          background: #5670dc; }
    .mobile .m-wrap .m-head .depth2_menu_wrap-ver2 {
      height: 50px;
      border-bottom: 1px solid #e0e0e0; }
    .mobile .m-wrap .m-head .depth2_menu-ver2 {
      text-align: center; }
      .mobile .m-wrap .m-head .depth2_menu-ver2 li {
        display: inline-block; }
        .mobile .m-wrap .m-head .depth2_menu-ver2 li a {
          display: inline-block;
          padding: 13px;
          background: white;
          margin-right: -3px; }
          .mobile .m-wrap .m-head .depth2_menu-ver2 li a span {
            display: inline-block;
            position: relative;
            font-size: 14px;
            font-weight: 350;
            letter-spacing: -0.7px;
            color: #000; }
        .mobile .m-wrap .m-head .depth2_menu-ver2 li.active span {
          color: #5670dc;
          font-weight: 450; }
        .mobile .m-wrap .m-head .depth2_menu-ver2 li.active span:after {
          position: absolute;
          left: 50%;
          bottom: -12px;
          transform: translateX(-50%);
          width: 100%;
          height: 2px;
          content: "";
          display: block;
          background: #5670dc; }
    .mobile .m-wrap .m-head .depth2_menu_wrap-ver2.swiper-container {
      width: 100%; }
    .mobile .m-wrap .m-head .m-subcontents_start {
      height: 5px;
      width: 100%;
      content: "";
      background: #f7f7f7; }
    .mobile .m-wrap .m-head .popup_area {
      display: flex;
      height: 60px;
      align-items: center; }
      .mobile .m-wrap .m-head .popup_area .grade {
        margin-left: 21px;
        font-size: 18px;
        font-weight: 550;
        letter-spacing: -0.4px; }
      .mobile .m-wrap .m-head .popup_area .back {
        display: inline-block;
        margin-left: 21px;
        width: 9px;
        height: 16px; }
        .mobile .m-wrap .m-head .popup_area .back img {
          vertical-align: top; }
    .mobile .m-wrap .m-head .header-inquiry {
      display: flex;
      min-height: 60px;
      align-items: center;
      justify-content: center;
      padding: 5% 15%; }
      .mobile .m-wrap .m-head .header-inquiry .title {
        font-weight: 450; }
      .mobile .m-wrap .m-head .header-inquiry .close {
        position: absolute;
        right: 20px;
        width: 16px;
        height: 16px;
        opacity: 1; }
  .mobile .m-wrap .m-container {
    min-height: 100%;
    background: white;
    position: relative; }
  .mobile .m-wrap .left_gnb_dimd {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.18); }
  .mobile .m-wrap .m-footer {
    padding-bottom: 40px;
    background: white;
    text-align: center;
    border-top: 1px solid #e0e0e0; }
    .mobile .m-wrap .m-footer .sitemap {
      display: flex;
      justify-content: center;
      align-items: center; }
      .mobile .m-wrap .m-footer .sitemap li a {
        display: block;
        padding: 20px 12px;
        font-size: 13px;
        font-weight: 350;
        letter-spacing: -0.65px; }
      .mobile .m-wrap .m-footer .sitemap li.bar {
        height: 13.5px;
        width: 1px;
        background: #e0e0e0;
        content: "";
        display: block; }
    .mobile .m-wrap .m-footer .customercenter .title {
      margin: 8px 14px;
      font-size: 18px;
      letter-spacing: -0.9px;
      color: #000;
      font-weight: 450; }
    .mobile .m-wrap .m-footer .customercenter .sub {
      font-size: 13px;
      font-weight: 350;
      letter-spacing: -0.65px;
      color: #999;
      margin-bottom: 26px; }
    .mobile .m-wrap .m-footer .copyright {
      font-size: 11px;
      letter-spacing: -0.55px;
      color: #999;
      font-weight: 350;
      margin-bottom: 20px; }
    .mobile .m-wrap .m-footer .forpc_button {
      display: inline-block;
      border-radius: 5px;
      padding: 10px;
      width: 240px;
      border: 1px solid #bbb;
      font-size: 13px;
      font-weight: 450;
      color: #666;
      letter-spacing: -0.65px; }
