@charset "UTF-8";
/**
|------------------------------------------|
|      component : variabl.scss
|------------------------------------------|
*/
/*
|----------------------------------|
 v.0.1 최초 공통화 작업
 v.0.2 모바일 버튼 믹싱사이즈 변경
 v.0.3 util - no-data - 모바일버전 생성
 v.0.4 util - no-data  공통화작업 - 박선미
 v.0.5 util - .search-keyword 오타 수정및 css추가 - 박선미
|----------------------------------|
*/
.pt0 {
  padding-top: 0 !important; }

.pt5 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt45 {
  padding-top: 45px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt55 {
  padding-top: 55px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt65 {
  padding-top: 65px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt75 {
  padding-top: 75px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt85 {
  padding-top: 85px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt95 {
  padding-top: 95px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb75 {
  padding-bottom: 75px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb85 {
  padding-bottom: 85px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb95 {
  padding-bottom: 95px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl0 {
  padding-left: 0px !important; }

.pl5 {
  padding-left: 5px !important; }

.pl10 {
  padding-left: 10px !important; }

.pl15 {
  padding-left: 15px !important; }

.pl20 {
  padding-left: 20px !important; }

.pl25 {
  padding-left: 25px !important; }

.pl30 {
  padding-left: 30px !important; }

.pl35 {
  padding-left: 35px !important; }

.pl40 {
  padding-left: 40px !important; }

.pl45 {
  padding-left: 45px !important; }

.pl50 {
  padding-left: 50px !important; }

.pl55 {
  padding-left: 55px !important; }

.pl60 {
  padding-left: 60px !important; }

.pl65 {
  padding-left: 65px !important; }

.pl70 {
  padding-left: 70px !important; }

.pl75 {
  padding-left: 75px !important; }

.pl80 {
  padding-left: 80px !important; }

.pl85 {
  padding-left: 85px !important; }

.pl90 {
  padding-left: 90px !important; }

.pl95 {
  padding-left: 95px !important; }

.pl100 {
  padding-left: 100px !important; }

.pr0 {
  padding-right: 0px !important; }

.pr5 {
  padding-right: 5px !important; }

.pr10 {
  padding-right: 10px !important; }

.pr15 {
  padding-right: 15px !important; }

.pr20 {
  padding-right: 20px !important; }

.pr25 {
  padding-right: 25px !important; }

.pr30 {
  padding-right: 30px !important; }

.pr35 {
  padding-right: 35px !important; }

.pr40 {
  padding-right: 40px !important; }

.pr45 {
  padding-right: 45px !important; }

.pr50 {
  padding-right: 50px !important; }

.pr55 {
  padding-right: 55px !important; }

.pr60 {
  padding-right: 60px !important; }

.pr65 {
  padding-right: 65px !important; }

.pr70 {
  padding-right: 70px !important; }

.pr75 {
  padding-right: 75px !important; }

.pr80 {
  padding-right: 80px !important; }

.pr85 {
  padding-right: 85px !important; }

.pr90 {
  padding-right: 90px !important; }

.pr95 {
  padding-right: 95px !important; }

.pr100 {
  padding-right: 100px !important; }

.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt65 {
  margin-top: 65px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt75 {
  margin-top: 75px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt85 {
  margin-top: 85px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt95 {
  margin-top: 95px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml25 {
  margin-left: 25px !important; }

.ml30 {
  margin-left: 30px !important; }

.ml35 {
  margin-left: 35px !important; }

.ml40 {
  margin-left: 40px !important; }

.ml45 {
  margin-left: 45px !important; }

.ml50 {
  margin-left: 50px !important; }

.ml55 {
  margin-left: 55px !important; }

.ml60 {
  margin-left: 60px !important; }

.ml65 {
  margin-left: 65px !important; }

.ml70 {
  margin-left: 70px !important; }

.ml75 {
  margin-left: 75px !important; }

.ml80 {
  margin-left: 80px !important; }

.ml85 {
  margin-left: 85px !important; }

.ml90 {
  margin-left: 90px !important; }

.ml95 {
  margin-left: 95px !important; }

.ml100 {
  margin-left: 100px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr25 {
  margin-right: 25px !important; }

.mr30 {
  margin-right: 30px !important; }

.mr35 {
  margin-right: 35px !important; }

.mr40 {
  margin-right: 40px !important; }

.mr45 {
  margin-right: 45px !important; }

.mr50 {
  margin-right: 50px !important; }

.mr55 {
  margin-right: 55px !important; }

.mr60 {
  margin-right: 60px !important; }

.mr65 {
  margin-right: 65px !important; }

.mr70 {
  margin-right: 70px !important; }

.mr75 {
  margin-right: 75px !important; }

.mr80 {
  margin-right: 80px !important; }

.mr85 {
  margin-right: 85px !important; }

.mr90 {
  margin-right: 90px !important; }

.mr95 {
  margin-right: 95px !important; }

.mr100 {
  margin-right: 100px !important; }

/* 버튼에 들어가는 icon 좌우여백 클래스 (PC) */
.ico-mr {
  margin-right: 3px;
  margin-bottom: 3px; }

.ico-ml {
  margin-left: 3px; }

.ico-mg {
  margin-right: 3px;
  margin-left: 3px; }

.not_scroll {
  position: fixed !important;
  width: 100%;
  height: 100%; }

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px; }

em {
  font-style: normal; }

label {
  margin: 0; }

.ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.border-bottom-none {
  border-bottom: none !important; }

.border-top-none {
  border-top: none !important; }

.hr {
  width: 100%;
  content: "";
  height: 1px;
  background: #e0e0e0; }
  .hr_bold {
    height: 2px;
    background: #418ac9; }

.hover-decoration:hover {
  text-decoration: underline;
  cursor: pointer; }

/*.btn.disabled, .btn:disabled {opacity:1;}
.btn.disabled i {opacity:.25;}
.btn:disabled i {opacity:.25;}
.btn.disabled .name {opacity:.25;}
.btn:disabled .name {opacity:.25;}*/
.cursor_default {
  cursor: default !important; }

/* 원형 */
.bullet-circle {
  position: relative;
  padding-left: 13px; }
  .bullet-circle:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
    margin-right: 9px; }

.bullet-circle_red {
  position: relative;
  padding-left: 13px; }
  .bullet-circle_red:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    background: #ff0000;
    border-radius: 100%;
    margin-right: 9px; }

.bullet-circle-lines {
  position: relative;
  padding-left: 13px; }
  .bullet-circle-lines:before {
    position: static;
    transform: translate(0%, -50%);
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin-right: 9px;
    background-color: #666; }

/*검색결과배경*/
.search-keyword {
  background: #418ac9;
  color: white !important;
  opacity: 0.8;
  display: inline-block;
  line-height: 120%;
  padding: 0 2px; }

/*데이터 없을경우*/
.no-data {
  padding: 80px 40px;
  text-align: center; }
  .no-data .text {
    font-size: 15px;
    font-weight: 350;
    padding-top: 50px;
    background: url(../../img/common/ico_warring.png) no-repeat center top;
    margin-bottom: 0; }
  .no-data .btn {
    margin-top: 16px; }

/* util - no-data - 모바일버전 생성 - 한성수 - 21.04.21 */
.mobile .no-data .text {
  /* no-data - 모바일버전  가이드 제작 - 게시글없음 , 결과없음 페이지 - 21.06.17 */
  font-size: 14px;
  padding-top: 68px;
  background: url(../../img/m-common/ico-exclamation-gray-big.png) no-repeat center top/52px 52px;
  color: #666666; }

.mobile .no-data .btn {
  border-radius: 18px; }

/* util 컴포넌트 수정 - 한성수 - 21.04.21 끝 */
.show-mobile {
  display: none !important; }

.show-mobile-flex {
  display: none !important; }

.mobile .show-mobile {
  display: block !important; }

.mobile .show-mobile-flex {
  display: flex !important; }

.show-pc {
  display: block !important; }

.mobile .show-pc {
  display: none !important; }

.section_history_0920 .top {
  position: relative;
  height: 192px;
  padding: 33px 0 0 0;
  box-sizing: border-box; }
  .section_history_0920 .top .tit1 {
    font-size: 32px;
    font-weight: 550;
    letter-spacing: -1.28px;
    color: #000;
    margin-bottom: 0; }
  .section_history_0920 .top .tit2 {
    font-size: 15px;
    font-weight: 350;
    letter-spacing: -.3px;
    color: #797882;
    line-height: 20px;
    padding-top: 15px; }
  .section_history_0920 .top .right_banner {
    position: absolute;
    right: 0;
    top: 0; }

.section_history_0920 .middle {
  position: relative;
  width: 1024px;
  padding: 70px 42px 63px 43px;
  margin-left: 0;
  box-sizing: border-box;
  border-radius: 13px;
  background-color: #f5f5f5; }
  .section_history_0920 .middle .tit {
    position: relative;
    margin-bottom: 0;
    font-size: 26px;
    letter-spacing: -1.3px;
    color: #333;
    display: inline-block; }
    .section_history_0920 .middle .tit span {
      position: relative;
      z-index: 10; }
    .section_history_0920 .middle .tit::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 14px;
      top: 20px;
      background-color: #f5d3cc;
      z-index: 1; }
  .section_history_0920 .middle .btn_view_page {
    position: absolute;
    right: 42px;
    top: 54px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 64px;
    border-radius: 10px;
    background-color: #ff6f50;
    padding-left: 38px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15); }
    .section_history_0920 .middle .btn_view_page span {
      line-height: 39px; }
    .section_history_0920 .middle .btn_view_page span.tit1 {
      font-size: 30px;
      font-weight: 550;
      color: #fff;
      line-height: 39px; }
    .section_history_0920 .middle .btn_view_page span.tit2 {
      position: relative;
      margin: 0 15px 0 13px;
      line-height: 39px;
      font-size: 14.5px;
      font-weight: 350;
      letter-spacing: -0.3px;
      color: #fff; }
      .section_history_0920 .middle .btn_view_page span.tit2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 1px;
        background-color: #fff; }
    .section_history_0920 .middle .btn_view_page span.ico_arr {
      width: 39px;
      height: 39px;
      display: inline-block;
      border-radius: 50%;
      background: url("../../img/special_220926/btn_arr.png") no-repeat center center #ee5636; }
  .section_history_0920 .middle .btn_area .columns {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    .section_history_0920 .middle .btn_area .columns .btn_area {
      position: relative;
      width: 220px;
      height: 219px;
      padding: 85px 0 35px 0;
      cursor: pointer;
      border-radius: 11px;
      text-align: center; }
      .section_history_0920 .middle .btn_area .columns .btn_area .c_name {
        display: block;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 7px;
        font-weight: 550;
        letter-spacing: -0.54px;
        color: #222; }
      .section_history_0920 .middle .btn_area .columns .btn_area .c_detail {
        display: block;
        font-size: 16px;
        line-height: 23px;
        font-weight: 350;
        letter-spacing: -1px;
        color: #888888; }
      .section_history_0920 .middle .btn_area .columns .btn_area.icon1 {
        background: url("../../img/special_220926/section_history_icon01_off.png") no-repeat center top #fff;
        transition: all 0.25s ease; }
      .section_history_0920 .middle .btn_area .columns .btn_area.icon2 {
        background: url("../../img/special_220926/section_history_icon02_off.png") no-repeat center top #fff;
        transition: all 0.25s ease; }
      .section_history_0920 .middle .btn_area .columns .btn_area.icon3 {
        background: url("../../img/special_220926/section_history_icon03_off.png") no-repeat center top #fff;
        transition: all 0.25s ease; }
      .section_history_0920 .middle .btn_area .columns .btn_area.icon4 {
        background: url("../../img/special_220926/section_history_icon04_off.png") no-repeat center top #fff;
        transition: all 0.25s ease; }
    .section_history_0920 .middle .btn_area .columns .btn_area:hover {
      box-shadow: 0px 8px 9.1px 0.9px rgba(105, 76, 69, 0.3); }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover .c_name {
        color: #fff; }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover .c_detail {
        color: #ffd8d0; }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover.icon1 {
        background: url("../../img/special_220926/section_history_icon01_on.png") no-repeat center top #ff6f50; }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover.icon2 {
        background: url("../../img/special_220926/section_history_icon02_on.png") no-repeat center top #ff6f50; }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover.icon3 {
        background: url("../../img/special_220926/section_history_icon03_on.png") no-repeat center top #ff6f50; }
      .section_history_0920 .middle .btn_area .columns .btn_area:hover.icon4 {
        background: url("../../img/special_220926/section_history_icon04_on.png") no-repeat center top #ff6f50; }

.m_section_history_0920 {
  margin-bottom: 6.94444vw; }
  .m_section_history_0920 .top {
    position: relative;
    width: 100%; }
    .m_section_history_0920 .top img {
      width: 100%;
      vertical-align: top; }
    .m_section_history_0920 .top .text_box {
      position: absolute;
      width: 100%;
      top: 0px;
      text-align: center;
      line-height: 1; }
      .m_section_history_0920 .top .text_box .title1 {
        color: #000;
        margin-top: 11.11111vw;
        font-size: 4.16667vw;
        font-weight: 350;
        letter-spacing: -0.20833vw; }
      .m_section_history_0920 .top .text_box .title2 {
        color: #ff6f50;
        margin-top: 4.16667vw;
        font-size: 8.33333vw;
        font-weight: 550;
        letter-spacing: -0.41667vw; }
      .m_section_history_0920 .top .text_box .desc {
        color: #595751;
        margin-top: 3.61111vw;
        font-size: 3.88889vw;
        font-weight: 350;
        letter-spacing: -0.19444vw;
        line-height: 5.55556vw; }
  .m_section_history_0920 .btn_view_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18.88889vw;
    border-radius: 2.77778vw;
    background-color: #ff6f50;
    padding-left: 38px;
    box-shadow: 0px 1.11111vw 1.38889vw 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin: 9.30556vw 0 7.63889vw; }
    .m_section_history_0920 .btn_view_page span {
      line-height: 11.66667vw; }
    .m_section_history_0920 .btn_view_page span.tit1 {
      font-size: 8.88889vw;
      font-weight: 550;
      color: #fff;
      line-height: 11.66667vw; }
    .m_section_history_0920 .btn_view_page span.tit2 {
      position: relative;
      margin: 0 4.16667vw;
      line-height: 11.66667vw;
      font-size: 4.30556vw;
      font-weight: 350;
      letter-spacing: -0.12917vw;
      color: #fff; }
      .m_section_history_0920 .btn_view_page span.tit2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 9.16667vw;
        width: 100%;
        height: 0.27778vw;
        background-color: #fff; }
    .m_section_history_0920 .btn_view_page span.ico_arr {
      width: 11.66667vw;
      height: 11.66667vw;
      display: inline-block;
      border-radius: 50%;
      background: url("../../img/special_220926/m_btn_arr.png") no-repeat center center #ee5636;
      background-size: 100%; }
  .m_section_history_0920 .middle {
    background-color: #f6f6f6;
    padding: 14.86111vw 5.55556vw 2.08333vw 5.55556vw;
    line-height: 1;
    border-radius: 2.77778vw 2.77778vw 6.11111vw 6.11111vw; }
    .m_section_history_0920 .middle .title {
      position: relative;
      font-size: 4.16667vw;
      font-weight: 550;
      color: #333;
      letter-spacing: -0.20833vw;
      text-align: center;
      margin-bottom: 6.38889vw; }
      .m_section_history_0920 .middle .title span {
        position: relative;
        z-index: 10; }
      .m_section_history_0920 .middle .title:before {
        content: '';
        position: absolute;
        top: 3.19444vw;
        width: 34.72222vw;
        height: 1.66667vw;
        background-color: #f8dbd5; }
    .m_section_history_0920 .middle .columns {
      position: relative;
      width: 100%;
      height: 45.41667vw;
      line-height: 1;
      border-radius: 2.77778vw;
      margin-bottom: 4.44444vw;
      text-align: center; }
      .m_section_history_0920 .middle .columns .t1 {
        font-size: 3.88889vw;
        padding-top: 25.69444vw;
        letter-spacing: -0.19444vw;
        color: #000;
        font-weight: 450; }
      .m_section_history_0920 .middle .columns .t2 {
        font-size: 3.61111vw;
        padding-top: 1.80556vw;
        line-height: 5.27778vw;
        letter-spacing: -0.18056vw;
        color: #666;
        font-weight: 350; }
      .m_section_history_0920 .middle .columns.col1 {
        background: url("../../img/special_220926/m_section_history_icon_01.png") no-repeat center top/22.22222vw auto #fff; }
      .m_section_history_0920 .middle .columns.col2 {
        background: url("../../img/special_220926/m_section_history_icon_02.png") no-repeat center top/22.22222vw auto #fff; }
      .m_section_history_0920 .middle .columns.col3 {
        background: url("../../img/special_220926/m_section_history_icon_03.png") no-repeat center top/22.22222vw auto #fff; }
      .m_section_history_0920 .middle .columns.col4 {
        background: url("../../img/special_220926/m_section_history_icon_04.png") no-repeat center top/22.22222vw auto #fff; }

.section_genius_1013 .top {
  position: relative;
  height: 170px;
  padding: 33px 0 0 0;
  box-sizing: border-box; }
  .section_genius_1013 .top .tit1 {
    font-size: 32px;
    font-weight: 550;
    letter-spacing: -1.28px;
    color: #000;
    margin-bottom: 0; }
  .section_genius_1013 .top .tit2 {
    font-size: 15px;
    font-weight: 350;
    letter-spacing: -.3px;
    color: #797882;
    line-height: 20px;
    padding-top: 15px; }
  .section_genius_1013 .top .right_banner {
    position: absolute;
    right: 0;
    bottom: 0; }

.section_genius_1013 .middle {
  position: relative;
  width: 1024px;
  padding: 70px 42px 63px 43px;
  margin-left: 0;
  box-sizing: border-box;
  border-radius: 13px;
  background-color: #f5f5f5; }
  .section_genius_1013 .middle .tit {
    position: relative;
    margin-bottom: 0;
    font-size: 26px;
    letter-spacing: -1.3px;
    color: #333;
    display: inline-block; }
    .section_genius_1013 .middle .tit span {
      position: relative;
      z-index: 10; }
    .section_genius_1013 .middle .tit::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 14px;
      top: 20px;
      background-color: #b8e5eb;
      z-index: 1; }
  .section_genius_1013 .middle .btn_view_page {
    position: absolute;
    right: 42px;
    top: 54px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: 64px;
    border-radius: 10px;
    background-color: #00bfc9;
    padding-left: 38px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15); }
    .section_genius_1013 .middle .btn_view_page span {
      line-height: 39px; }
    .section_genius_1013 .middle .btn_view_page span.tit1 {
      font-size: 30px;
      font-weight: 550;
      color: #fff;
      line-height: 39px; }
    .section_genius_1013 .middle .btn_view_page span.tit2 {
      position: relative;
      margin: 0 15px 0 13px;
      line-height: 39px;
      font-size: 14.5px;
      font-weight: 350;
      letter-spacing: -0.3px;
      color: #fff; }
      .section_genius_1013 .middle .btn_view_page span.tit2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 1px;
        background-color: #fff; }
    .section_genius_1013 .middle .btn_view_page span.ico_arr {
      width: 39px;
      height: 39px;
      display: inline-block;
      border-radius: 50%;
      background: url("../../img/special_220926/btn_arr.png") no-repeat center center #00898f; }
  .section_genius_1013 .middle .btn_area .columns {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    .section_genius_1013 .middle .btn_area .columns .btn_area {
      position: relative;
      width: 300px;
      height: 190px;
      padding: 88px 0 35px 0;
      cursor: pointer;
      border-radius: 11px;
      text-align: center; }
      .section_genius_1013 .middle .btn_area .columns .btn_area .c_name {
        display: block;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 9px;
        font-weight: 450;
        letter-spacing: -0.02em;
        color: #222; }
        .section_genius_1013 .middle .btn_area .columns .btn_area .c_name b {
          color: #03bcd1;
          font-weight: 450; }
      .section_genius_1013 .middle .btn_area .columns .btn_area .c_detail {
        display: block;
        font-size: 15px;
        line-height: 21px;
        font-weight: 350;
        letter-spacing: -0.04em;
        color: #888888; }
      .section_genius_1013 .middle .btn_area .columns .btn_area.icon1 {
        background: url("../../img/special_221013/section_icon01_off.png") no-repeat center 27px #fff;
        transition: all 0.25s ease; }
      .section_genius_1013 .middle .btn_area .columns .btn_area.icon2 {
        background: url("../../img/special_221013/section_icon02_off.png") no-repeat center 27px #fff;
        transition: all 0.25s ease; }
      .section_genius_1013 .middle .btn_area .columns .btn_area.icon3 {
        background: url("../../img/special_221013/section_icon03_off.png") no-repeat center 27px #fff;
        transition: all 0.25s ease; }
    .section_genius_1013 .middle .btn_area .columns .btn_area:hover {
      box-shadow: 0px 8px 9.1px 0.9px rgba(105, 76, 69, 0.3); }
      .section_genius_1013 .middle .btn_area .columns .btn_area:hover .c_name {
        color: #fff; }
        .section_genius_1013 .middle .btn_area .columns .btn_area:hover .c_name b {
          color: #fff; }
      .section_genius_1013 .middle .btn_area .columns .btn_area:hover .c_detail {
        color: #cdfdff; }
      .section_genius_1013 .middle .btn_area .columns .btn_area:hover.icon1 {
        background: url("../../img/special_221013/section_icon01_on.png") no-repeat center 27px #00bfc9; }
      .section_genius_1013 .middle .btn_area .columns .btn_area:hover.icon2 {
        background: url("../../img/special_221013/section_icon02_on.png") no-repeat center 27px #00bfc9; }
      .section_genius_1013 .middle .btn_area .columns .btn_area:hover.icon3 {
        background: url("../../img/special_221013/section_icon03_on.png") no-repeat center 27px #00bfc9; }

.m_section_genius_1013 {
  margin-bottom: 6.94444vw; }
  .m_section_genius_1013 .top {
    position: relative;
    width: 100%; }
    .m_section_genius_1013 .top img {
      width: 100%;
      vertical-align: top; }
    .m_section_genius_1013 .top .text_box {
      position: absolute;
      width: 100%;
      top: 0px;
      text-align: center;
      line-height: 1; }
      .m_section_genius_1013 .top .text_box .title1 {
        color: #000;
        margin-top: 11.11111vw;
        font-size: 4.16667vw;
        font-weight: 350;
        letter-spacing: -0.20833vw; }
      .m_section_genius_1013 .top .text_box .title2 {
        color: #008b8f;
        margin-top: 4.16667vw;
        font-size: 8.33333vw;
        font-weight: 550;
        letter-spacing: -0.41667vw; }
      .m_section_genius_1013 .top .text_box .desc {
        color: #000;
        margin-top: 3.61111vw;
        font-size: 3.88889vw;
        font-weight: 350;
        letter-spacing: -0.19444vw;
        line-height: 5.55556vw; }
  .m_section_genius_1013 .btn_view_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18.88889vw;
    border-radius: 2.77778vw;
    background-color: #00bfc8;
    padding-left: 38px;
    box-shadow: 0px 1.11111vw 1.38889vw 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin: 19.16667vw 0 7.91667vw; }
    .m_section_genius_1013 .btn_view_page span {
      line-height: 11.66667vw; }
    .m_section_genius_1013 .btn_view_page span.tit1 {
      font-size: 8.88889vw;
      font-weight: 550;
      color: #fff;
      line-height: 11.66667vw; }
    .m_section_genius_1013 .btn_view_page span.tit2 {
      position: relative;
      margin: 0 4.16667vw;
      line-height: 11.66667vw;
      font-size: 4.30556vw;
      font-weight: 350;
      letter-spacing: -0.12917vw;
      color: #fff; }
      .m_section_genius_1013 .btn_view_page span.tit2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 9.16667vw;
        width: 100%;
        height: 0.27778vw;
        background-color: #fff; }
    .m_section_genius_1013 .btn_view_page span.ico_arr {
      width: 11.66667vw;
      height: 11.66667vw;
      display: inline-block;
      border-radius: 50%;
      background: url("../../img/special_220926/m_btn_arr.png") no-repeat center center #00898f;
      background-size: 100%; }
  .m_section_genius_1013 .middle {
    background-color: #f6f6f6;
    padding: 14.86111vw 5.55556vw 2.08333vw 5.55556vw;
    line-height: 1;
    border-radius: 2.77778vw 2.77778vw 6.11111vw 6.11111vw; }
    .m_section_genius_1013 .middle .title {
      position: relative;
      font-size: 4.16667vw;
      font-weight: 550;
      color: #333;
      letter-spacing: -0.20833vw;
      text-align: center;
      margin-bottom: 6.38889vw; }
      .m_section_genius_1013 .middle .title span {
        position: relative;
        z-index: 10; }
      .m_section_genius_1013 .middle .title:before {
        content: '';
        position: absolute;
        top: 3.19444vw;
        width: 34.72222vw;
        height: 1.66667vw;
        background-color: #c5ebed; }
    .m_section_genius_1013 .middle .columns {
      position: relative;
      width: 100%;
      height: 45.41667vw;
      line-height: 1;
      border-radius: 2.77778vw;
      margin-bottom: 4.44444vw;
      text-align: center; }
      .m_section_genius_1013 .middle .columns .t1 {
        font-size: 3.88889vw;
        padding-top: 25.69444vw;
        letter-spacing: -0.19444vw;
        color: #000;
        font-weight: 450; }
        .m_section_genius_1013 .middle .columns .t1 b {
          color: #00bfc8;
          font-weight: 450; }
      .m_section_genius_1013 .middle .columns .t2 {
        font-size: 3.61111vw;
        padding-top: 2.08333vw;
        line-height: 5.27778vw;
        letter-spacing: -0.18056vw;
        color: #666;
        font-weight: 350; }
      .m_section_genius_1013 .middle .columns.col1 {
        background: url("../../img/special_221013/m_section_icon01.png") no-repeat center 9.30556vw/auto 11.52778vw #fff; }
      .m_section_genius_1013 .middle .columns.col2 {
        background: url("../../img/special_221013/m_section_icon02.png") no-repeat center 9.30556vw/auto 11.38889vw #fff; }
      .m_section_genius_1013 .middle .columns.col3 {
        background: url("../../img/special_221013/m_section_icon03.png") no-repeat center 9.30556vw/auto 10vw #fff; }
