.textbook_body .content-section {
  width: 1290px;
  margin: 0 auto;
  margin-bottom: 110px;
  margin-top: 52px; }
  .textbook_body .content-section .columns {
    display: flex; }
  .textbook_body .content-section .data-body {
    width: 1066px;
    box-sizing: border-box; }
  .textbook_body .content-section .data-details__content {
    padding-left: 30px; }
    .textbook_body .content-section .data-details__content .notice-banner {
      margin-top: 25px;
      background: #edf1ff;
      border-radius: 6px;
      padding: 0px 30px 0px 15px; }
      .textbook_body .content-section .data-details__content .notice-banner__content {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .textbook_body .content-section .data-details__content .notice-banner__content-text {
          display: inline-block;
          width: 560px;
          color: #5670dc;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .textbook_body .content-section .data-details__content .notice-banner__content-date {
          color: #666; }
