<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.sherpa.exambank.step2.domain.ItemDTO'>

    <select id="getAllBoardList" resultType="com.sherpa.exambank.step2.domain.ItemDTO">
        select * from board_table
    </select>



</mapper>